.find {
    padding: 10rem 0;
    background-image: url('./../img/stone-texture.webp');
    background-size: cover;
    background-position: center;

    @media (max-width: 768px) {
        padding: 60px 0;
    }

    &__title {
        margin-bottom: 5rem;

        @media (max-width: 768px) {
            margin-bottom: 30px;
        }
    }
}

.find-item {
    padding: 6rem;
    border-radius: 1rem;
    background-color: #fff;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    align-items: center;

    @media (max-width: 768px) {
        padding: 20px;
        border-radius: 10px;
        gap: 40px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &:not(:last-child) {
        margin-bottom: 5rem;

        @media (max-width: 768px) {
            margin-bottom: 25px;
        }
    }

    &__capture {
        margin-bottom: 6rem;

        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    &__img {
        height: 40rem;
        border-radius: 1rem;

        overflow: hidden;

        @media (max-width: 768px) {
            border-radius: 10px;
            height: auto;
            width: 100%;
            display: block;
        }

        img {
            height: 100%;
            width: 100%;

            @media (max-width: 768px) {
                height: auto;
                width: 100%;
                display: block;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 2rem;
        position: relative;
        font-size: 2.4rem;

        @media (max-width: 768px) {
            font-size: 18px;
            gap: 10px;
        }

        &:not(:last-child) {
            margin-bottom: 6rem;

            @media (max-width: 768px) {
                margin-bottom: 20px;
            }
        }

        &::before {
            content: "";
            display: block;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            background-image: url('./../img/arrow-right.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;

            @media (max-width: 768px) {
                width: 30px;
                height: 30px;
            }
        }
    }
}