.form {
    background-color: rgb(3, 3, 59);
    padding: 5rem 0;
    border-radius: 1rem;

    @media (max-width: 768px) {
        padding: 20px 0;
    }

    &__top {
        margin-bottom: 5rem;
        padding: 0 5rem;

        @media (max-width: 768px) {
            padding: 0 20px;
            margin-bottom: 20px;
        }
    }

    &__title {
        text-align: center;
        font-size: 2.8rem;
        margin-bottom: 2rem;
        color: #fff;

        @media (max-width: 768px) {
            font-size: 22px;
            max-width: 420px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }

    &__subtitle {
        margin: 0;
        margin-bottom: 3rem;
        text-align: center;
        color: rgba(#ffffff, 0.8);
        font-size: 1.8rem;

        @media (max-width: 768px) {
            margin-bottom: 20px;
            font-size: 16px;
            max-width: 450px;
            margin: 0 auto;
            margin-bottom: 15px;

        }
    }

    &__input {
        display: block;
        height: 6rem;
        border: none;
        width: 100%;
        // padding: 0 2rem;
        font-size: 1.6rem;

        @media (max-width: 768px) {
            font-size: 16px;
            height: 40px;
            max-width: 450px;
            margin: 0 auto;
        }

        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &[type=file] {
            color: #fff;
        }
    }

    &__btn {
        width: 100%;
        margin-bottom: 2rem;

        @media (max-width: 768px) {
            font-size: 16px;
            height: 40px;
            max-width: 450px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }

    &__agree {
        font-size: 1.6rem;
        color: #fff;
        max-width: 80%;
        margin: 0 auto;
        text-align: center;

        @media (max-width: 768px) {
            font-size: 16px;
            max-width: 450px;
            margin: 0 auto;
        }

        span {
            font-weight: 600;
        }

        a {
            text-decoration: underline;
            color: rgb(0, 162, 255);
        }
    }

    &__bottom {
        padding: 0 5rem;
        padding-top: 5rem;
        border-top: 1px solid #fff;

        @media (max-width: 768px) {
            padding: 0 20px;
            padding-top: 20px;
        }
    }

    &__row {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        @media (max-width: 768px) {
            gap: 10px;
        }
    }

    &__soc {
        width: 7rem;
        height: 7rem;
        border-radius: 1rem;
        overflow: hidden;

        @media (max-width: 768px) {
            width: 40px;
            height: 40px;
            border-radius: 10px;
        }
    }

    &__or {
        font-weight: 300;
        max-width: 25rem;
        margin-bottom: 2rem;

        @media (max-width: 768px) {
            max-width: 450px;
            margin-bottom: 15px;
        }
    }
}