.header {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;

    &__top {
        padding: 3rem 0;
    }

    &__logo {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 7rem;
        color: #fff;
        font-weight: 700;

        img {
            display: block;
            width: 70px;
            height: 70px;
        }
    }

    &__bottom {
        border: 1px solid #fff;
        border-right: none;
        border-left: none;
        padding: 2rem 0;
    }
}