html {
  font-size: 0.5208333333vw;
  font-family: "Montserrat";
}

html,
body {
  scroll-behavior: smooth;
}

@media (min-width: 1920px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
.container {
  max-width: 148rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.site-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.desc {
  margin: 0;
  font-size: 2rem;
  color: #141414;
  font-weight: 400;
}
.desc--white {
  color: #fff;
}
.desc span {
  font-weight: 700;
}
@media (max-width: 768px) {
  .desc {
    font-size: 16px;
  }
}

.subtitle {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 2.8rem;
  color: #141414;
  font-weight: 500;
}
@media (max-width: 768px) {
  .subtitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
.subtitle span {
  font-weight: 700;
}

.title2 {
  margin: 0;
  font-size: 4.8rem;
  color: #141414;
  font-weight: 400;
  line-height: 144%;
}
@media (max-width: 768px) {
  .title2 {
    font-size: 20px;
  }
}
.title2 span {
  font-weight: 700;
}

.capture {
  margin: 0;
  font-size: 2.6rem;
  color: #141414;
  font-weight: 600;
}
@media (max-width: 768px) {
  .capture {
    font-size: 18px;
  }
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  background-color: rgb(4, 131, 216);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
}

.header {
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}
.header__top {
  padding: 3rem 0;
}
@media (max-width: 768px) {
  .header__top {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
  }
}
.header__container {
  display: flex;
  gap: 8rem;
  align-items: center;
  position: relative;
  z-index: 101;
}
@media (max-width: 768px) {
  .header__container {
    justify-content: space-between;
    gap: 20px;
  }
}
.header__burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  width: 30px;
  height: 20px;
}
@media (max-width: 768px) {
  .header__burger {
    display: flex;
  }
}
.header__burger::before, .header__burger::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.3s ease-out;
}
.header__burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.3s ease-out;
}
.header__burger.active .line {
  transform: rotate(-45deg);
}
.header__burger.active::after {
  transform: rotate(45deg) translate(-7px, -7px);
}
.header__burger.active::before {
  opacity: 0;
  transform: translateX(-10px);
}
.header__logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 7rem;
  color: #fff;
  font-weight: 700;
}
@media (max-width: 768px) {
  .header__logo {
    font-size: 25px;
  }
}
.header__logo img {
  display: block;
  width: 7rem;
  height: 7rem;
}
@media (max-width: 768px) {
  .header__logo img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 768px) {
  .header__extra {
    display: none;
  }
}
.header__bottom {
  border: 1px solid #fff;
  border-right: none;
  border-left: none;
  padding: 2rem 0;
}
@media (max-width: 768px) {
  .header__bottom {
    display: none;
  }
}
.header__soc {
  display: flex;
  gap: 3rem;
}
@media (max-width: 768px) {
  .header__soc {
    display: none;
  }
}
.header__cta {
  display: block;
  font-size: 1.6rem;
  text-decoration: underline;
  color: #fff;
  font-weight: 400;
}

.operator {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
  gap: 2rem;
}
@media (max-width: 768px) {
  .operator {
    display: none;
  }
}
.operator__img {
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  background-color: #0062BC;
}
.operator__img img {
  width: 100%;
  height: 100%;
}
.operator__col {
  padding-left: 2rem;
}
.operator__q {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.operator__q::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: rgb(5, 197, 5);
}
.operator__cap {
  opacity: 0.9;
  font-size: 1.2rem;
}

.hero {
  padding: 20rem 0;
  padding-top: 30rem;
  background-image: url("./../img/hero-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
@media (max-width: 768px) {
  .hero {
    padding: 120px 0;
  }
}
.hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 22, 49, 0.7);
}
.hero__container {
  position: relative;
  z-index: 10;
}
.hero__content {
  max-width: 100rem;
  margin-bottom: 5rem;
}
.hero__title {
  margin: 0;
  margin-bottom: 5rem;
  font-weight: 500;
  line-height: 144%;
  font-size: 6rem;
  color: #fff;
  font-weight: 400;
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
.hero__title span {
  font-weight: 700;
}
.hero__row {
  display: flex;
  align-items: center;
  gap: 5rem;
}
@media (max-width: 768px) {
  .hero__row {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

.hero-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero-item__icon {
  flex-shrink: 0;
  width: 8rem;
  height: 8rem;
}
@media (max-width: 768px) {
  .hero-item__icon {
    width: 40px;
    height: 40px;
  }
}
.hero-item__icon img {
  width: 100%;
  height: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav__link {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
}
@media (max-width: 768px) {
  .nav__link {
    font-size: 20px;
  }
}

.find {
  padding: 10rem 0;
  background-image: url("./../img/stone-texture.webp");
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .find {
    padding: 60px 0;
  }
}
.find__title {
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .find__title {
    margin-bottom: 30px;
  }
}

.find-item {
  padding: 6rem;
  border-radius: 1rem;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  align-items: center;
}
@media (max-width: 768px) {
  .find-item {
    padding: 20px;
    border-radius: 10px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.find-item:not(:last-child) {
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .find-item:not(:last-child) {
    margin-bottom: 25px;
  }
}
.find-item__capture {
  margin-bottom: 6rem;
}
@media (max-width: 768px) {
  .find-item__capture {
    margin-bottom: 20px;
  }
}
.find-item__img {
  height: 40rem;
  border-radius: 1rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .find-item__img {
    border-radius: 10px;
    height: auto;
    width: 100%;
    display: block;
  }
}
.find-item__img img {
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .find-item__img img {
    height: auto;
    width: 100%;
    display: block;
  }
}
.find-item__item {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
  font-size: 2.4rem;
}
@media (max-width: 768px) {
  .find-item__item {
    font-size: 18px;
    gap: 10px;
  }
}
.find-item__item:not(:last-child) {
  margin-bottom: 6rem;
}
@media (max-width: 768px) {
  .find-item__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.find-item__item::before {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 5rem;
  height: 5rem;
  background-image: url("./../img/arrow-right.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  .find-item__item::before {
    width: 30px;
    height: 30px;
  }
}

.proj {
  padding: 10rem 0;
  padding-bottom: 20rem;
  background-image: url("./../img/stone-texture.webp");
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .proj {
    padding: 60px 0;
  }
}
.proj__title {
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .proj__title {
    margin-bottom: 30px;
  }
}
.proj__btn {
  position: absolute;
  z-index: 10;
  top: 50%;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .proj__btn {
    width: 10px;
    height: 10px;
    flex-shrink: 0;
  }
}
.proj__btn span {
  flex-shrink: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-top: 3px solid #000;
  border-right: 3px solid #000;
}
.proj__btn--prev {
  transform: translateY(-50%) rotate(-135deg);
  left: 2rem;
}
.proj__btn--next {
  transform: translateY(-50%) rotate(45deg);
  right: 2rem;
}
.proj__wrapper {
  position: relative;
  padding: 0 7rem;
}
@media (max-width: 768px) {
  .proj__wrapper {
    padding: 0 50px;
  }
}
.proj__slide {
  height: 65rem;
  border-radius: 1rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .proj__slide {
    height: 330px;
  }
}
.proj__slide img {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  height: 100%;
}

.cta {
  padding: 12rem 0;
  background-image: url("./../img/bg-2.png");
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .cta {
    padding: 60px 0;
  }
}
.cta__container {
  display: flex;
  gap: 9rem;
}
@media (max-width: 768px) {
  .cta__container {
    flex-direction: column;
  }
}
.cta__subtitle {
  font-size: 2.4rem;
  max-width: 80%;
}
@media (max-width: 768px) {
  .cta__subtitle {
    font-size: 20px;
  }
}
.cta__left {
  width: 100%;
  max-width: 87rem;
  flex-shrink: 0;
}
.cta__title {
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .cta__title {
    margin-bottom: 30px;
  }
}

.cta-item {
  display: flex;
  align-items: center;
  gap: 3rem;
}
@media (max-width: 768px) {
  .cta-item {
    gap: 20px;
  }
}
.cta-item:not(:last-child) {
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .cta-item:not(:last-child) {
    margin-bottom: 25px;
  }
}
.cta-item__icon {
  width: 20rem;
  height: 20rem;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .cta-item__icon {
    width: 80px;
    height: 80px;
  }
}
.cta-item__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.cta--sec {
  background-image: url("./../img/bg-2.png");
  background-size: cover;
  background-position: center;
}
.cta--sec .cta-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14rem;
  height: 14rem;
}
@media (max-width: 768px) {
  .cta--sec .cta-item__icon {
    width: 80px;
    height: 80px;
  }
}

.form {
  background-color: rgb(3, 3, 59);
  padding: 5rem 0;
  border-radius: 1rem;
}
@media (max-width: 768px) {
  .form {
    padding: 20px 0;
  }
}
.form__top {
  margin-bottom: 5rem;
  padding: 0 5rem;
}
@media (max-width: 768px) {
  .form__top {
    padding: 0 20px;
    margin-bottom: 20px;
  }
}
.form__title {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 2rem;
  color: #fff;
}
@media (max-width: 768px) {
  .form__title {
    font-size: 22px;
    max-width: 420px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
.form__subtitle {
  margin: 0;
  margin-bottom: 3rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.8rem;
}
@media (max-width: 768px) {
  .form__subtitle {
    margin-bottom: 20px;
    font-size: 16px;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
.form__input {
  display: block;
  height: 6rem;
  border: none;
  width: 100%;
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  .form__input {
    font-size: 16px;
    height: 40px;
    max-width: 450px;
    margin: 0 auto;
  }
}
.form__input:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input[type=file] {
  color: #fff;
}
.form__btn {
  width: 100%;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .form__btn {
    font-size: 16px;
    height: 40px;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
.form__agree {
  font-size: 1.6rem;
  color: #fff;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 768px) {
  .form__agree {
    font-size: 16px;
    max-width: 450px;
    margin: 0 auto;
  }
}
.form__agree span {
  font-weight: 600;
}
.form__agree a {
  text-decoration: underline;
  color: rgb(0, 162, 255);
}
.form__bottom {
  padding: 0 5rem;
  padding-top: 5rem;
  border-top: 1px solid #fff;
}
@media (max-width: 768px) {
  .form__bottom {
    padding: 0 20px;
    padding-top: 20px;
  }
}
.form__row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
@media (max-width: 768px) {
  .form__row {
    gap: 10px;
  }
}
.form__soc {
  width: 7rem;
  height: 7rem;
  border-radius: 1rem;
  overflow: hidden;
}
@media (max-width: 768px) {
  .form__soc {
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
}
.form__or {
  font-weight: 300;
  max-width: 25rem;
  margin-bottom: 2rem;
}
@media (max-width: 768px) {
  .form__or {
    max-width: 450px;
    margin-bottom: 15px;
  }
}

.ben {
  padding: 12rem 0;
  background-image: url("./../img/bg-2.png");
  background-size: cover;
  background-position: center;
}
@media (max-width: 768px) {
  .ben {
    padding: 60px 0;
  }
}
.ben__title {
  text-transform: uppercase;
  margin-bottom: 5rem;
}
@media (max-width: 768px) {
  .ben__title {
    margin-bottom: 30px;
  }
}
.ben__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
@media (max-width: 768px) {
  .ben__items {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
.ben__item {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 6rem;
  background-color: rgb(243, 249, 255);
}
@media (max-width: 768px) {
  .ben__item {
    padding: 20px;
    gap: 20px;
  }
}
.ben__icon {
  flex-shrink: 0;
  width: 12rem;
  height: 12rem;
}
@media (max-width: 768px) {
  .ben__icon {
    width: 60px;
    height: 60px;
  }
}
.ben__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.ben__text {
  font-size: 2.8rem;
}
@media (max-width: 768px) {
  .ben__text {
    font-size: 20px;
  }
}
.ben__text span {
  font-weight: 700;
}

.footer {
  padding: 7rem 0;
  background-color: rgb(3, 3, 59);
}
@media (max-width: 768px) {
  .footer {
    padding: 30px 0;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
.footer__left {
  display: flex;
  align-items: flex-start;
  gap: 5rem;
}
@media (max-width: 768px) {
  .footer__left {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
}
.footer__nav .nav__list {
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
@media (max-width: 768px) {
  .footer__nav .nav__list {
    align-items: center;
    gap: 15px;
    align-items: center;
  }
}
.footer__nav .nav__link {
  font-size: 1.6rem;
}
.footer__add {
  font-style: normal;
}
.footer__tt {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  gap: 1rem;
  position: relative;
  font-size: 1.4rem;
  color: #fff;
}
.footer__tt::before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(2, 151, 2);
  border-radius: 100%;
  flex-shrink: 0;
}
.footer__tel {
  display: inline-block;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
}
.footer__row {
  display: flex;
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .footer__row {
    justify-content: center;
  }
}
.footer__soc {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  overflow: hidden;
}
.footer__soc img {
  width: 100%;
  height: 100%;
}

.footer-nav__capture {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 3rem;
}

.menu {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(7, 41, 73, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transform: translateY(-100%);
  transition: 0.3s ease-out;
}
.menu.active {
  transform: translateY(0);
}
.menu__body {
  padding: 120px 40px;
}
.menu .nav__list {
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */